{% if page.meta.comments != false %}
  <h2 id="__comments">Comments</h2>
  <script src="https://giscus.app/client.js"
        data-repo="Vikramadtya/study-saathi"
        data-repo-id="R_kgDORzu8Mg"
        data-category="Announcements"
        data-category-id="DIC_kwDORzu8Ms4C7bR9"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}